# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. PYTHON
2. R PROGRAMING
3. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. Machine Learning
2. AutoML
3. Deep Learning

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Pandas |
| R |

### Below are a few examples of evaluating arithmetic expressions in Python

In [44]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [34]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- python
- java
- r programming

## AUTHOR
Mohammed Hamras Sulaiman